version: "3.8"

services:
  database:
    image: postgres:14.5-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: start-coding
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
